* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
}

nav {
  padding: 40px;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

nav .logo .logoBox {
  background-color: #7cc576;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 5px;
  padding: 3px;
}

nav .logo h1 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: -0.45px;
  color: #555555;
  font-weight: 700;
}

nav ul.mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 50%;
}

nav ul.mainNav li {
  position: relative;
  padding-bottom: 3px;
  overflow-x: hidden;
}

nav ul.mainNav li:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #7cc576;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .3s;
  transition: .3s;
}

nav ul.mainNav li:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

nav ul.mainNav li a {
  color: #777777;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul.mainNav li:hover a {
  color: #222222;
}

header {
  position: relative;
}

header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.75;
  z-index: 1;
}

header img {
  width: 100%;
}

header h1 {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 120px;
  color: #ffffff;
  font-size: 60px;
  letter-spacing: -3px;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

header h2 {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 270px;
  font-weight: 400;
  font-size: 20px;
  z-index: 2;
  color: #cccccc;
  letter-spacing: -0.5px;
}

header button {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 350px;
  width: 200px;
  height: 60px;
  background-color: #7cc576;
  border: 1px solid #222222;
  border-radius: 30px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.37px;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
}

header button:hover {
  color: #222222;
}

header button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: white;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: .3s;
  transition: .3s;
}

header button:hover:after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

section.services {
  width: 80%;
  text-align: center;
  margin: 100px auto;
}

section.services h1 {
  color: #222222;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: -2px;
  text-align: center;
}

section.services h2 {
  color: #777777;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 300%;
  text-align: center;
  margin-bottom: 90px;
}

section.services .servicesBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.services .servicesBox .service {
  padding: 0 50px;
}

section.services .servicesBox .service h3 {
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  letter-spacing: -0.45px;
}

section.services .servicesBox .service p {
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.35px;
}

section.relax {
  position: relative;
  height: 550px;
  background-color: #e9e9e9;
  overflow: hidden;
}

section.relax div.background {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 300px;
  width: 100%;
  height: 100%;
  color: white;
}

section.relax div.background:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: #000000;
  opacity: .75;
  z-index: 1;
}

section.relax div.background img {
  width: 70%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

section.relax div.background i {
  position: relative;
  line-height: 550px;
  -webkit-transform: translateX(70%);
          transform: translateX(70%);
}

section.relax h1 {
  position: absolute;
  z-index: 2;
  padding: 100px;
  top: 0;
  left: 30%;
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -2px;
  color: white;
}

section.relax h1 span {
  color: #7cc576;
}

section.relax p {
  color: #cccccc;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.4px;
  width: 60%;
  line-height: 170%;
  position: absolute;
  z-index: 2;
  padding: 230px 100px;
  top: 0;
  left: 30%;
}

section.relax ul {
  list-style: none;
  position: absolute;
  z-index: 2;
  padding: 300px 100px;
  top: 0;
  left: 30%;
  color: #cccccc;
}

section.relax ul li {
  padding: 10px;
}

section.relax ul li i {
  margin-right: 10px;
}

section.relax button {
  background-color: #7cc576;
  padding: 10px 30px;
  border: none;
  border-radius: 30px;
  position: absolute;
  z-index: 2;
  margin: 450px 100px;
  top: 0;
  left: 30%;
  text-transform: uppercase;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  overflow: hidden;
  font-size: 16px;
  font-weight: 700;
  line-height: 44.21px;
  letter-spacing: -0.37px;
}

section.relax button:hover {
  color: black;
}

section.relax button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: white;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: .3s;
  transition: .3s;
}

section.relax button:hover:after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

section.latest-project {
  padding: 80px 230px 80px 230px;
  position: relative;
  overflow: hidden;
}

section.latest-project h1 {
  color: #222222;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: -2px;
  text-align: center;
}

section.latest-project h2 {
  color: #777777;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 300%;
  text-align: center;
}

section.latest-project h3 {
  margin-top: 80px;
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  letter-spacing: -0.45px;
  text-align: left;
}

section.latest-project p {
  width: 50%;
  color: #777777;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.4px;
  line-height: 150%;
  text-align: left;
}

section.latest-project article.project {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

section.latest-project article.project i {
  display: block;
  width: 68px;
  height: 68px;
  font-size: 35px;
  line-height: 68px;
  border: 3px solid black;
  border-radius: 50%;
  color: black;
  text-align: center;
}

section.latest-project article.project div.textProj {
  text-align: left;
  padding: 0 10px;
}

section.latest-project article.project div.textProj h4 {
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.45px;
}

section.latest-project article.project p {
  width: 100%;
  color: #777777;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.4px;
}

section.latest-project a {
  display: inline-block;
  color: #7cc576;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.4px;
  text-decoration: none;
  padding: 20px 0 0;
}

section.latest-project a i {
  font-size: 16px;
}

section.latest-project img {
  position: absolute;
  width: 60%;
  top: 35%;
  right: 0;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  z-index: 2;
}

section.value {
  margin: 0 230px 80px 230px;
}

section.value h1 {
  color: #222222;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: -2px;
  text-align: center;
}

section.value h2 {
  color: #777777;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 300%;
  text-align: center;
}

section.value div.valuesBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  position: relative;
}

section.value div.valuesBox.valuesBox::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 170px;
  background-color: #777777;
  top: 35%;
  left: 22.5%;
}

section.value div.valuesBox.valuesBox::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 170px;
  background-color: #777777;
  top: 35%;
  right: 22.5%;
}

section.value div.valuesBox article {
  width: 30%;
}

section.value div.valuesBox article i {
  display: inline-block;
  width: 85px;
  height: 85px;
  border: 3px solid #777777;
  background-color: #f9f9f9;
  border-radius: 50%;
  line-height: 85px;
  font-size: 40px;
  color: gray;
  margin-top: 50px;
  margin-bottom: 20px;
}

section.value div.valuesBox article div.textBox h3 {
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: -0.45px;
}

section.value div.valuesBox article div.textBox p {
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.35px;
  line-height: 150%;
}

section.our-client {
  margin: 160px 230px 80px 230px;
}

section.our-client h1 {
  color: #222222;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: -2px;
  text-align: center;
}

section.our-client h2 {
  color: #777777;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 300%;
  text-align: center;
}

section.our-client article.client-opinion {
  width: 50%;
  margin-top: 100px;
  text-align: center;
}

section.our-client article.client-opinion blockquote {
  color: #777777;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
}

section.our-client article.client-opinion p {
  color: #7cc576;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
}

section.our-client article.client-opinion:nth-child(odd) {
  margin-left: 50%;
}

section.contact {
  background-color: #7cc576;
  text-align: center;
  padding: 70px 0 70px;
}

section.contact h1 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -2px;
}

section.contact button {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 41px;
  text-transform: uppercase;
  letter-spacing: -0.45px;
  margin-top: 30px;
  background-color: transparent;
  border: 3px solid white;
  padding: 15px 30px;
  -webkit-transition: .3s;
  transition: .3s;
}

section.contact button:hover {
  background-color: white;
  color: #7cc576;
}
/*# sourceMappingURL=style.css.map */